$transformValue: 1.5em
$duration: .7s
    
.text__wrapper
  overflow: hidden

.text
  display: inline-block

.text--animation-appear, .text--animation-enter
  transform: translate3d(0,$transformValue,0)

.text--animation-appear-active, .text--animation-enter-active
  transform: translate3d(0,0,0)
  transition: all $duration

.text--animation-appear-done, .text--animation-enter-done
  transform: translate3d(0,0,0)

.text--animation-exit-active
  transform: translate3d(0,-$transformValue,0)
  transition: all $duration
