@import '../../sass/variables'
 
.content__wrapper
  overflow: hidden

.content
  display: inline-block

.content--animation-appear, .content--animation-enter
  transform: translate3d(0,$transformValue,0)
  opacity: 0

.content--animation-appear-active, .content--animation-enter-active
  transform: translate3d(0,0,0)
  opacity: 1
  transition: all $duration

.content--animation-appear-done, .content--animation-enter-done
  transform: translate3d(0,0,0)

.content--animation-exit-active
  transform: translate3d(0,-$transformValue,0)
  opacity: 0
  transition: all $duration

.content--animation-exit-done
  opacity: 0

@media (orientation: portrait)
  .content--animation-appear-active, .content--animation-enter-active, .content--animation-appear-done, .content--animation-enter-done, .content--animation-exit-active
    transition: transform $duration, opacity calc(0.5 * #{$duration})