$transformValue: 100px
$duration: 1s
  
.animatedText
  color: white
  line-height: 1.8

.text__wrapper
  overflow: hidden
  position: relative
  height: 24px // Depends on the font size

.text
  position: absolute
  height: 100%

.text--animation-appear, .text--animation-enter
  transform: translate3d(0,$transformValue,0)

.text--animation-appear-active, .text--animation-enter-active
  transform: translate3d(0,0,0)
  transition: all $duration

.text--animation-exit-active
  transform: translate3d(0,-$transformValue,0)
  transition: all $duration