@import '../../sass/variables'
  
.gallery__content_wrapper
  width: 100%
  height: calc( 100% - 8 * #{$padding-standard} )
  margin: $padding-standard $padding-standard 0
  overflow: hidden
  position: relative
  display: flex
  justify-content: center
  & > h1
    position: fixed
    bottom: $padding-standard
    right: $padding-standard

.gallery__content
  height: 100%
  & > *
    height: 100%
    & > *
      height: 100%
      & > *
        height: 100%