@import '../../sass/variables'

.button
  position: relative
  margin-top: $padding-standard
  padding: $padding-small $padding-standard
  text-transform: capitalize
  border: none
  cursor: pointer
  transition: all .5s
  &:focus
    outline-offset: 0.5em