@import '../../sass/variables'
  
form
  width: 100%

form > h1
  margin-bottom: $padding-standard
  
label
  text-transform: capitalize
  display: block

.inputBox
  margin-bottom: 1.5 * $padding-small
  & > span
    display: block
    font-size: 0.8rem
    color: red

input
  height: 1.5rem

input, textarea
  width: 100%