@import '../../sass/variables'
  
.home
  display: flex
  height: 100%
  width: 100%

.home > section
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center

.home__imageContainer
  align-items: center
  & > img
    height: 99%

.home__contentWrapper
  align-items: flex-start
  padding: $padding-standard




// ----------MEDIA QUERIES---------- //s
    
@media screen and (orientation:portrait)
  .home
    flex-direction: column

  .home > section
    justify-content: normal

  .home__imageContainer
    flex: 0
    height: 33%
    
