@import '../../sass/variables'

$height: calc(100% - 4 * #{$padding-standard})
$transitionDuration: calc(1.5*#{$duration})

.features__details
  width: 100%
  height: $height
  position: absolute
  left: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

.features__details_imgSection
  width: 100%
  display: flex
  overflow: hidden

.features__details_imgSection_img
  width: 100%
  height: 100%
  max-height: $height

.features__details_imgSection, .features__details_contentSection
  width: 50%
  padding-left: $padding-standard
  padding-right: $padding-standard

.features__details_sectionContainer
  display: flex
  width: 100%
  align-items: center

.features__details_sectionContainer--portrait
  flex-direction: column
  & > *
    margin-bottom: $padding-standard
    width: 75%

.features__details_arrowsContainer
  display: flex
  position: absolute
  justify-content: center
  bottom: $padding-standard
  margin-bottom: $padding-standard
  width: calc( 100% - 2*#{$padding-standard} )
  gap: calc( 4*#{$padding-standard} )


.features__details > h1 > .contentProgressIndicator
  position: absolute
  bottom: 0
  right: 0
  margin-bottom: $padding-standard
  margin-right: $padding-standard

// ----------ANIMATIONS---------- //

.featuresDetailsTransition-appear, .featuresDetailsTransition-exit-done
  height: 0

.featuresDetailsTransition-appear-active
  height: $height
  transition: all $transitionDuration

.featuresDetailsTransition-exit-active
  height: 0
  transition: all $transitionDuration