.features
  justify-content: center
  align-items: center

.features__imageContainer
  position: relative
  width: 50%
  height: 100%
  overflow: hidden
  
  & > img
    position: absolute
    width: 100%

  .features__buttonWrapper
    position: absolute
